body {
    background-color: black;
    color: white;
    font-family: 'Vollkorn', serif;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
ul{
    text-align:center;
    list-style: none;
    display: inline-block;

}

li{
    cursor: pointer;
    line-height: 2em;
    font-size: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.872); /* Black w/ opacity */
}
#modalText {
    z-index: 3;
    text-align: center;
    width: 90%;
    position: fixed;
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 10vh;
    line-height: 10vh;
}
#wordModal{
    display: none;
    position: fixed;
    top: 5.5%;
    padding: 15px;
    text-align: center;
    z-index: 3;
      
    border-color: red;
    cursor: pointer;
    border: 1px solid darkgoldenrod;
    background-color: rgba(158, 158, 158, 0.728);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    left: 0;
    right: 0;
    width: fit-content;


}
#wordModal > #defH3, #definitions, #etymology{
    display: inherit;
}
#definitions > li{
    display: inherit;
}
#authorDiv{
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
}
#authorDiv:hover{
    
        text-decoration: #6e6e6e line-through;
}
#buttonStyle{
    display:flex;
    font-size: 15px;
    font-family: inherit;
    background-color: transparent;
    border: .5px solid #2d2d2d;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    color: white;
    margin: 20px;
    z-index: 1;
}

footer {
    position: fixed;
    display: flex;
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: black;
    border-top: 1px solid #4d3d16;
    justify-content: center;
}
#subFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: inherit;
    bottom: inherit;
    z-index: 0;
}
#appInfo{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5vh;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-right: .5em;
}
#appInfo:hover{
        text-decoration: #6e6e6e line-through;
    
}
#line{
    width: 50%;

}
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    border-bottom: 1px solid #4d3d16;
    z-index: 1;
    text-align: center;
    height: 5.5%;
}
#subHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: inherit;
}
#authorInfo{
    border: 1px solid #2b2a28;
    overflow: auto;
    margin: 0px;
    float: left;
    height: fit-content;
    margin-left: 15px;
    margin-top: 1em;
    max-height: 70em;
    opacity: 0;
    padding: .5em;
    padding-top: 0px;
    transition: opacity 3s;
    position: fixed;
    margin-top: 4.5em;
    width: 22.5%;
    
}

.flexBox{
    flex-shrink: 0;
    
}
#leftArrow{


    position: fixed;
    padding: 15px;
    font-size: 80px;
    line-height: 16em;
    color: white;
    height: auto;


}
#rightArrow{
    height: max-content;
    position: fixed;
    width: 1.5em;
    right: 0px;
    font-size: 80px;
    line-height: 16em;
    color: white;
    height: auto;
    
}
#rightArrow:active, #leftArrow:active {
    text-shadow: 2px 2px rgba(255, 255, 255, 0.673);
    
    color: black;
}
span:hover{
    text-shadow: 2px 2px rgba(255, 255, 255, 0.673);
    
    color: darkgoldenrod;
}


#poemDiv{

    display: inline-block;
    text-align: center;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    width: 100%;
    margin-top: 4em;
    margin-bottom: 5em;
    
}
#appDiv{
    width: 22.5%;
    border: 1px solid #2b2a28;
    float: right;
    overflow: auto;
    margin: 0px;
    margin-right: 15px;
    margin-top: 1em;
    max-height: 70em;
    opacity: 0;
    padding: .5em;
    padding-top: 0px;
    transition: opacity 3s;
    height: fit-content;
    position: fixed;
    
    right: 0;
    margin-top: 4.5em;
}
#poemH{
    display: inline-block;
}
#poemUl{
     border-bottom: 1px solid #282828;
    padding: 0;
    padding-bottom: 2em;
}
#copy{
    align-self: flex-end; 
    color: #5a5a5a;
    font-size: 14px;
}
.fa-github{
    font-family: 'Font Awesome 5 Brands';
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 2em;
    color: #5a5a5a;
    align-self: flex-end;
}

.fa-github:hover{
    color: white;
}

.fa-align-justify{
    margin-left: 5px;
}
#divBlock{
    margin-top: 1em;
    vertical-align: top;
    padding-left: 1.3em;

}
li:hover{
    color: darkgoldenrod;
}