body {
    background-color: black;
    color: white;
    font-family: 'Vollkorn', serif;
}
#poemDiv{
    text-align: center;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
ul{
    text-align:center;
    list-style: none;
    display: inline;
    

}

li{
    cursor: pointer;
    margin: 10px 0;
    font-size: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
#modalText {
    z-index: 3;
    text-align: center;
    width: 95%;
    position: fixed;
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 10vh;
    line-height: 10vh;
}
#wordModal{
    display: none;
    position: fixed;
    top: 5%;
    padding: 15px;
    margin: 10px;
    text-align: center;
    z-index: 3;
    width: 100%;    
    border-color: red;
    border: 5px;
    cursor: pointer;
}
#wordModal > #defH3, #definitions, #etymology{
    display: inherit;
}
#definitions > li{
    display: inherit;
}
#authordiv{
    margin-left: 10px;
    display: block;
    font-size: 12px;
}
#buttonStyle{
    display:flex;
    font-size: 15px;
    font-family: inherit;
    background-color: Transparent;
    border: .5px solid white;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    color: white;
    margin: 20px;
}

footer {
    position:fixed;
    display: flex;
    justify-content: center;
    width:100%;
    bottom :0;
    background-color: black;
}
#appInfo{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5vh;
}

header{
    position:fixed;
    display: flex;
    justify-content: space-between;
    width:95%;
    top:0;
    height: 30px;
    margin: 15px;
}

.flexBox{
display: flex;
flex-shrink: 0;
}