body {
    background-image: radial-gradient(circle at bottom right,#070707, #101118, #171308);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fafafa;
    font-family: 'Vollkorn', serif;
    height: 100vh;
    min-height: 100vh;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
ul{
    text-align:center;
    list-style: none;
    display: inline-block;

}

#poemOl > li{
    cursor: pointer;
    line-height: 2em;
    font-size: 2vh;
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
   
}
#poemOl > li:hover{
       color: #b8860b;
    list-style: outside decimal;
    overflow: visible;
    
    
}
#poemOl:active{
    list-style: outside decimal;
    overflow: visible;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.92); /* Black w/ opacity */
}
#modalText {
    z-index: 3;
    text-align: center;
    font-size: 8vh;
    line-height: 10vh;
    max-width: 85%;
    margin:0;
    align-self: center;
}
#wordModal {
    display: none;
    padding: 4em;
    text-align: left;
    z-index: 3;
    max-width: 70em;
    border: 1px solid darkgoldenrod;
    background-color: rgba(255, 255, 255, 0.92);
    width: -moz-fit-content;
    width: fit-content;
    color: #070707;
    padding-top: 1em;
    max-height: 40em;
    overflow: overlay;
    margin-top: 4em;
}
#searchWord{
  text-align: center;
    margin-top: 5px;
    font-size: 4em;
    margin-bottom: .2em;
    line-height: 1em;
    border-bottom: darkgoldenrod solid 1px;
}
#wordModal > #defH3, #definitions, #etymology{
    display: inherit;
    text-align: inherit;
}

#definitions > li{
    text-align: inherit;
}
#etymology{
    margin-left: 2em;
}
#authorDiv{
    cursor: pointer;
    font-size: 2vh;
    display: inline-block;
    padding-top: .8em;
    padding-right: .5vh;
}
#authorDiv:hover{
    
        text-decoration: darkgoldenrod underline;
}
.buttonStyle{
    display:flex;
    font-size: 15px;
    font-family: inherit;
    background-color: transparent;
    border: .5px solid #2d2d2d;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    color: #fafafa;
    margin: 20px;
    z-index: 1;
}
.buttonStyle:hover{
    color: darkgoldenrod
}

footer {
    position: fixed;
    display: flex;
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: #070707;
    border-top: 1px solid #4d3d16;
    justify-content: center;
    left: 0;
}
#subFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: inherit;
    bottom: inherit;
    z-index: 0;
}
#appInfo{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5vh;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-right: .5em;
    line-height: 1.5;
    
}
#sema:hover{
        text-decoration: darkgoldenrod underline;
    
}
#line{
    width: 50%;

}
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #070707;
    border-bottom: 1px solid #4d3d16;
    z-index: 1;
    text-align: center;
    height: 6.5%;
    left: 0;
}
#subHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: inherit;
}
#authorInfo{
    border: 1px solid #2b2a28;
    margin: 0px;
    float: left;
    height: fit-content;
    margin-left: 15px;
    margin-top: 1em;
    max-height: 70em;
    opacity: 0;
    padding: .5em;
    padding-top: 0px;
    transition: opacity 3s;
    position: fixed;
    margin-top: 7vh;
    width: 22.5%;
    overflow: scroll;
    
}

.flexBox{
    flex-shrink: 0;
    
}
#leftArrow{
    align-self: center;
    
    
    font-size: 8vh;
        padding: 1%;
    color: #fafafa;
    z-index: 4;

}
#rightArrow{
    align-self: center;
    
    font-size: 8vh;
    
    color: #fafafa;
    
        padding: 1%;
    z-index: 4;
    
}
#rightArrow:active, #leftArrow:active {
    text-shadow: 2px 2px rgba(255, 255, 255, 0.673);
    
    color: darkgoldenrod;
}
span:hover{
    text-decoration: darkgoldenrod underline;
    cursor: pointer;
}


#poemDiv{
    display: inline-flex;
    text-align: center;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    width: 100%;
    margin-top: 7vh;
    margin-bottom: 5em;
    justify-content: center;
    
    
}
#appDiv{
    width: 22.5%;
    border: 1px solid #2b2a28;
    float: right;
    overflow: auto;
    margin: 0px;
    margin-right: 15px;
    
    max-height: 70em;
    opacity: 0;
    padding: .5em;
    padding-top: 0px;
    transition: opacity 3s;
    height: fit-content;
    position: fixed;
    
    right: 0;
    margin-top: 7vh;
}
#poemH{
    display: inline-block;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 75%;
    white-space: nowrap;
    font-size: 3vh;
}
#poemOl{
        border-bottom: 1px solid #282828;
    padding: 0;
    padding-bottom: 2em;
   
    width: 100%;
    width: fit-content;
}
#copy{
    
    color: #5a5a5a;
    font-size: 14px;
    padding-left: 1em
}
.fab{
    font-family: 'Font Awesome 5 Brands';
    margin-right: 20px;
    margin-bottom: 15px;
    font-size: 2em;
    color: #5a5a5a;
    align-self: flex-end;
}

.fab:hover{
    color: darkgoldenrod;
}

.fa-align-justify{
    margin-left: 5px;
}
#divBlock{
    vertical-align: top;
    padding-left: 1.3em;
    line-height: 1;
}
#flexModal{
       position: fixed;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    top: 15%;
    pointer-events:none; 
}
#lineDiv{
   display: flex;
    justify-content: space-between;
    width: 100%;
    height: 17vh;
    pointer-events:auto; 
    
}

.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    
}
#appcarrot{
    font-size: 1.5vh;
}
#sema{
    display: inline;
}

